// Primary Colors
$questions-text-color: #323232;
$white: #ffffff;

// Secondary Colors
$black: #000000;
$red: #bc1a1a;
$green: #58c051;
$blue-light: #3cb8ff;
$blue: rgb(28, 126, 213);

//Breakpoints
$mobile-breakpoint: 320px;
$desktop-breakpoint: 1280px;